/******* Font *********/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
$primaryFont: 'Nunito', sans-serif;

/****** Colors ********/
$primary: #292b48;
$secondary: #ffd979;

/***** Spacing & Size *******/
$large: 3em;
$medium: 2em;
$small: 1em;
$max: 78.125em;


