.active_workout {
    height: 100vh;
    min-height: 800px;
    display: flex;
    justify-content: cenrer;
    align-items: center;
    flex-direction: column;
    .timer p {
        font-size: 3em;
        position: relative;
        top: 2em;
    }
}