.title_wrapper {
    align-items: center;
    animation: titleMove 1s ease-out 1s forwards ;
    background: $secondary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    transform: translate(0, 0);
    top: 0;
    width: 100%;
    z-index: 10;
    h1, p {
        color: white;
    }
}
.apple {background: green;}
nav {
    display: none;
    a {
        flex: 1;
        text-align: center;
        padding: 2em;
    }
}


/************* Animations ****************/
@keyframes titleMove {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, -100%)
    }
}
